* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Serif Pro', serif;
	color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.8px;
}

h2 {
    @include lg-screen {
        font-size: 28px;
    }
}

p {
	font-size: 14px;
    font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 20px;
    @include lg-screen {
        font-size: 16px;
        line-height: 24px;
    }
}

a {
    text-decoration: none;
    color: $primary-text-color;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    @include lg-screen {
        display: flex;
        flex-wrap: wrap;
    }
}

.colmun {
    @include lg-screen {
        display: flex;
        flex-direction: column;
    }
}