.primary-button {
    background-color: $primary-text-color;
    color: $sub-text-color;
    padding: 10px 30px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 4px $primary-text-color;
}