.footer {
    padding: 20px 0;
    text-align: center;
    @include lg-screen {
        text-align: left;
        margin-left: 50px;
    }
}

.footer img {
    width: 90px;
    height: auto;
}

.footer p {
    font-size: 7px;
}