/* gallery page */
.gallery img {
    width: 100%;
}

.gallery h2 {
    margin-bottom: 40px;
    text-align: center;
}



.gallery h3 {
    font-size: 16px;
}

.galleryImage {
    margin-bottom: 50px;
}

.galleryImage img {
    margin-bottom: 10px;
}

.galleryContainer {
    margin-bottom: 100px;
}