/* home page*/
.container.home {
    padding: 0;
    margin-top: 50px;
}

.home img {
    width: 100vw;
    height: auto;
}

.home .introduction {
    padding: 0 30px;
    margin: 60px 0;
    text-align: center;
}

.home h2 {
    margin-bottom: 30px;
}